.videos {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
  }
  &__card {
    width: 18%;
    margin: 1rem 0rem;
    &-img {
      margin-bottom: 0.5rem;
    }
    &-details {
      & > * {
        margin-bottom: 0.5rem;
      }
      h5 {
        color: #606060;
      }
    }
  }
}
